<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <!--                <property name="connection.url">jdbc:postgresql://ec2-54-211-238-131.compute-1.amazonaws.com:5432/d76lkavtcpn5if</property>-->
        <!--                <property name="connection.username">imozvxjfxsmluk</property>-->
        <!--                <property name="connection.password">5c1d80929fc678ecad7806373be3c24d4c7447ba76cd9b9cfdfa8d5a97f9949e</property>-->

        <!--        <property name="connection.driver_class">org.postgresql.Driver</property>-->
        <!--        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>-->

<!--        <property name="connection.url">jdbc:mysql://us-cdbr-east-02.cleardb.com/heroku_76b0255c9916e6e?reconnect=true</property>-->
<!--        <property name="connection.username">b28fbd86623d63</property>-->
<!--        <property name="connection.password">39dfa470</property>-->

        <property name="connection.url">jdbc:mysql://kbe.canxccuxooti.eu-central-1.rds.amazonaws.com/kbe</property>
        <property name="connection.username">b28fbd86623d63</property>
        <property name="connection.password">39dfa470</property>

<!--        <property name="connection.url">jdbc:mysql://remotemysql.com/kLR2fLv8CS</property>-->
<!--        <property name="connection.username">kLR2fLv8CS</property>-->
<!--        <property name="connection.password">54m9hr7qQb</property>-->

<!--        <property name="connection.url">jdbc:mysql://aqx5w9yc5brambgl.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/ohe2ppwo29y0bg7o</property>-->
<!--        <property name="connection.username">agmcsm3i9q1tlrnj</property>-->
<!--        <property name="connection.password">pwdvvbf0chlm0gnc</property>-->


        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>


        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.jdbc.lob.non_contextual_creation">false</property>
        <!--        <property name="hibernate.default_schema"></property>-->

        <mapping class="de.htwb.ai.kbe.model.Song"/>
        <mapping class="de.htwb.ai.kbe.model.User"/>
        <mapping class="de.htwb.ai.kbe.model.SongList"/>

    </session-factory>
</hibernate-configuration>